.env
tester.py
.venv
.idea
__pycache__/
*.py[cod]
*$py.class
/files/dpb_chache/
/files/Ternium*
/files/*cache.pkl
/scripts_db_handle/fill_exams.py
/scripts_db_handle/fill_fichajes.py
/files/OCT*
/files/*cache*
/files/*.csv
/files/*.xml
/files/fichaje*.xlsx
*csv
/scripts_db_handle/Fill_Vacations.py
/app_gui.spec
/dist/
/build/
/venv/
/files/contracts/*
/files/logs/*
/files/quizz_out/*
/app_gui.exe
/files/samplev2.pdf
/files/*.pdf
/files/files_fichaje/*
.env_*
/tester_code.py
/scripts_db_handle/fill_sm_dummy_data.py
/files/Pmodels/*
/test.json
/scripts_db_handle/
/domain.crt
*.pem
*.cer
*.pfx
/files/nominas_index.json
