.env
tester.py
.venv
.idea
__pycache__/
*.py[cod]
*$py.class
/files/dpb_chache/
/files/Ternium*
/files/*cache.pkl
/fill_exams.py
/fill_fichajes.py
/files/OCT*
/files/*cache*
/files/*.csv
/files/fichaje*.xlsx
*csv
/Fill_Vacations.py
/app_gui.spec
/dist/
/build/
/venv/
/app_gui.exe
