Flask-SQLAlchemy~=3.1.1
boto3
Flask
mysql-connector-python
python-dotenv
flask-restx
PyJWT
numpy
requests
Flask-Cors
ttkbootstrap
dropbox
xlrd~=2.0.1
pandas
Unidecode~=1.3.7
matplotlib
pyxlsb~=1.0.10
customtkinter
Pillow
openai
bardapi
SQLAlchemy~=2.0.23
reportlab
setuptools
keras
tensorflow~=2.16.1
scikit-learn~=1.5.0
Office365-REST-Python-Client
Werkzeug
Flask-WTF
WTForms
WTForms-JSON
xlsxwriter
PyPDF2
openpyxl
pyserial
PyMuPDF
pytz