Flask-SQLAlchemy
flask
mysql-connector-python
python-dotenv
CTkTable~=0.8
flask-restx
pyjwt~=2.8.0
numpy
requests
flask-cors
ttkbootstrap
dropbox
xlrd~=2.0.1
pandas
Unidecode~=1.3.7
matplotlib
pyxlsb~=1.0.10
customtkinter
Pillow
openai
bardapi
SQLAlchemy
reportlab
setuptools